.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.nav-items > ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nav-items > ul > li{
    padding: 10px;
}
